
@{
    ViewData["Title"] = "Enforcement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>
        Enforcements
        <hr />

        @*@foreach (var item in Model)
        {
            <div>
                <h3>
                    @item.recall_number
                </h3>
            </div>
            <div>
                <h3>
                    @item.recalling_firm
                </h3>
            </div>
            <div>
                <h3>
                    @item.classification
                </h3>
            </div>
            <div>
                @item.reason_for_recall
            </div>

        }*@
    <html>
    <head>

        <title>Enforcement Details</title>

        <link href="~/css/hazard.css" rel="stylesheet" type="text/css" />

    </head>
    <table class="table" align="center">

        <tr>
            <th> Recall Number </th>
            <th> Recalling Firm </th>
            <th> Classification </th>
            <th> Reason For Recall </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>




        <td>  @item.recall_number </td>



        <td>   @item.recalling_firm </td>



        <td>
            @item.classification
        </td>


        <td>
            @item.reason_for_recall
        </td>

    </tr>

                }
            
        </table>
    </html>
        <script>
    alertDbSave(@ViewBag.dbSuccessComp);
        </script>
        <p>
            @Html.ActionLink("Order By City Name", "oderbycity")
        </p>









        <!--
    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Enforcement</title>
    </head>
    <body>
    </body>
    </html>


    <!DOCTYPE html>



    <html lang="en" xmlns="http://www.w3.org/1999/xhtml">

    <head>

        <meta charset="utf-8" />

        <title></title>

        <link href="~/css/hazard.css" rel="stylesheet" type="text/css" />

    </head>

    <body>

        @*<div class="wrapper">

                <div class="nav">

                    <div class="left">

                        <ul>

                            <li> <a href="index.html" class="mod" href="#">Home</a></li>


                        </ul>

                    </div>

                </div>

            </div>*@

        <div id="content">

            <h3 class="table-title">Recalls of Health Hazards of Different Classes</h3>



            <table class="tables" align="center">

                <tr>

                    <th>Classification</th>

                    <th>Recall Number</th>

                    <th>Recalling Firm</th>

                    <th>City</th>

                    <th>Reason for Recall</th>



                </tr>

                <tr>

                    <td>Class II</td>

                    <td>F-0365-2017</td>

                    <td>Wilton Brands</td>

                    <td>Woodridge</td>

                    <td>Airbrush color has the potential to be contaminated with mold, yeast or bacteria.</td>



                </tr>

                <tr>

                    <td>Class I</td>

                    <td>F-0562-2013</td>

                    <td>Harry and David Operations, Inc</td>

                    <td>Medford</td>

                    <td>Product received from supplier is being recalled due to the potential to be contaminated with Salmonella</td>



                </tr>

                <tr>

                    <td>Class I</td>

                    <td>F-2515-2016</td>

                    <td>Rabbit Creek Products Inc</td>

                    <td>Louisburg</td>

                    <td>Bread, muffin, and brownie mixes may have been manufactured with flour contaminated with E. coli O121</td>

                </tr>

                <tr>

                    <td>Class II</td>

                    <td>F-1676-2015</td>

                    <td>Health One Pharmaceuticals Inc</td>

                    <td>City Of Industry</td>

                    <td>Health One Pharmaceuticals is recalling dietary supplements due to significant violations of the cGMP regulations for dietary supplements.</td>

                </tr>

                <tr>

                    <td>Class II</td>

                    <td>F-2696-2017</td>

                    <td>High Liner Foods Inc.</td>

                    <td>Portsmouth</td>

                    <td>Product may contain undeclared milk.</td>

                </tr>

            </table>



        </div>

        <div id="footer">



        </div>
        -->
        @*<h1>Food Recall Enforcements</h1>
        <hr />


            <div>
                <h3>
                    @Html.DisplayFor(modelItem => )
                </h3>
                <div>

        <script>
            alertDbSave(@ViewBag.dbSuccessComp);
        </script>





        </body>

        </html>*@
