@model IEnumerable<FoodRecallEnforcements.Models.Recall>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="AddOrEdit">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.reason_for_recall)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.code_info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product_quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.distribution_pattern)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product_description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.report_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.recall_number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.recalling_firm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.initial_firm_notification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.event_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.termination_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.recall_initiation_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.voluntary_mandated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.classification)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.reason_for_recall)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.code_info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.distribution_pattern)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.report_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recall_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recalling_firm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.initial_firm_notification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.event_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.product_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.termination_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.recall_initiation_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.voluntary_mandated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location.AddressId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.classification.classificationId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecallId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RecallId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecallId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
