@model IEnumerable<FoodRecallEnforcements.Models.Recall>

@{
    ViewData["Title"] = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    body {
        min-width: 100%;
        height: 100vh;
        background-color:bisque;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: table;
        font-family: Quicksand;
        overflow-x: scroll;
    }
</style>
<body>


    <h1 style="color:cyan"><b>Exploring Food Recall Enforcements </b> </h1>
    <hr />

    <p>
        <a asp-action="AddOrEdit" class="btn btn-outline-success"><i class="far fa-plus-square"></i>Add New Enforcement</a>
    </p>

    @*<h4><b> Search By Firm:</b></h4>
        <p>
        @using (Html.BeginForm("SearchFirm","Recall", FormMethod.Get))
        {
            @Html.TextBox("searching")<input type="submit" value="Search"/>
        }
        </p>*@
    <p>
        @using (Html.BeginForm("SearchBy", "Recall", FormMethod.Get))
        {
            <b>Search By Criteria: </b>
            <br />
            @Html.RadioButton("searchBy", "Voluntary or Mandated", true) <text>Voluntary or Mandated by the FDA</text>
            <br />
            @Html.RadioButton("searchBy", "Recalling Firm") <text>Recalling Firm</text>
            <br />
            @Html.TextBox("search") <input type="submit" value="Search" />
        }
    </p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    MODIFY
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.recalling_firm)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.voluntary_mandated)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.reason_for_recall)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.code_info)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.product_description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.report_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.recall_number)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="AddOrEdit" asp-route-id="@item.RecallId" class="text-black-50" onclick="return confirm('Authorized Access Only. Are you sure you want to continue?')">@*<i class="fa fa-marker fa-lg"></i>*@EDIT</a> |

                        <a asp-action="Delete" asp-route-id="@item.RecallId" class="text-danger ml-1" onclick="return confirm('Are you sure you want to Delete this Incident?')">@*<i class="fa fa-trash-alt fa-lg"></i>*@DELETE</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.recalling_firm)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.voluntary_mandated)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.reason_for_recall)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.code_info)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.product_description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.report_date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.recall_number)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</body>

@*sdjadjdad

    <th>
               @Html.DisplayNameFor(model => model.product_quantity)
           </th>
           <th>
               @Html.DisplayNameFor(model => model.distribution_pattern)
           </th>







    <th>
                @Html.DisplayNameFor(model => model.initial_firm_notification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.event_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.product_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.termination_date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.recall_initiation_date)
            </th>












*@



@*<td>
        @Html.DisplayFor(modelItem => item.product_quantity)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.distribution_pattern)
    </td>




     <td>
                    @Html.DisplayFor(modelItem => item.initial_firm_notification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.event_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.product_type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.termination_date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.recall_initiation_date)
                </td>


*@